body {
  background-color: #ff99ff;
}
.my-image-align {
   border-radius: 10%;
    border: 25px ridge #000000;
    padding: 5px;
    margin-top: 40px;
    
}
.main-header{
   font-family: Impact, Charcoal, sans-serif;
  margin: 30px 5px 40px 5px;
  font-family: 'Libre Baskerville', serif;
  color : 999999;
}
.my-margin{
  margin-top: 3em;
  font-size: 20px;
}
.img-with-text{
  background-color:grey;
  border-radius:10%;
  padding: 5px 5px 15px 5px;
}
.ul-style{
  text-align:center;
  font-size:20px;
   list-style-type: none;
  margin: 10px;
}
.go-right{
  
}
